<?xml version="1.0" encoding="utf-8" ?>

<Message xmlns= "http://www.we-win.com.cn/messageConfig" xmlns:xsi= "http://www.w3.org/2001/XMLSchema-instance">

  <!-- 提示信息 -->
  <!--Common START;I001~I100;其它自定义业务消息请从I101开始-->
  <Item ID="I001" Text="数据已保存成功！" Level="消息" />
  <Item ID="I002" Text="数据已删除！" Level="消息" />
  <Item ID="I003" Text="删除成功！" Level="消息" />
  <Item ID="I004" Text="更新成功！" Level="消息" />
  <Item ID="I005" Text="未查询到相应结果！" Level="消息" />
  <Item ID="I006" Text="最多添加5位销售渠道！" Level="消息" />
  <Item ID="I007" Text="报表导出成功！" Level="消息" />
  <Item ID="I008" Text="报表导出失败！" Level="消息" />
  <Item ID="I009" Text="操作被取消！" Level="消息" />
  <Item ID="I010" Text="最多添加3位销售渠道！" Level="消息" />
  <Item ID="I011" Text="新密码保存成功！" Level="消息" />
  <Item ID="I012" Text="密码重置成功，新密码为111111。" Level="消息" />
  <Item ID="I013" Text="密码长度不能低于6位" Level="消息" />
  <Item ID="I014" Text="没有需要导出的数据！" Level="消息" />
  <Item ID="I015" Text="不能删除，已存在该业务类型的合同！" Level="消息" />
  <!-- 确认信息 -->
  <!--Common START;Q001~Q100;其它自定义业务消息请从Q101开始-->
  <Item ID="Q001" Text="是否需要录入电路代码信息？" Level="确认" />
  <Item ID="Q002" Text="是否确定删除{0}电路代码所有信息？" Level="确认" />
  <Item ID="Q003" Text="是否确定将{0}电路状态改为“已拆机”？" Level="确认" />
  <Item ID="Q004" Text="{0}信息变更，是否启用现在的提成比例！" Level="确认" />
  <Item ID="Q005" Text="{0}信息数据库中已存在，是否覆盖？" Level="确认" />
  <Item ID="Q006" Text="是否确定删除{0}客户及其所有信息？" Level="确认" />
  <Item ID="Q007" Text="是否确定重置密码？" Level="确认" />
  <Item ID="Q008" Text="是否确定退出？" Level="确认" />
  <Item ID="Q009" Text="是否确定重新登录？" Level="确认" />
  <Item ID="Q010" Text="是否确定删除？" Level="确认" />
  <Item ID="Q011" Text="数据已有改动，是否确定保存？" Level="确认" />
  <Item ID="Q012" Text="确认{0}" Level="确认" />
  <Item ID="Q013" Text="是否确定将{0}电路状态改为“取消”？" Level="确认" />
  <Item ID="Q014" Text="是否确定将{0}" Level="确认" />
  <!--Common END-->
  <Item ID="Q101" Text="确认要将该采购单的状态更新为已确认吗?" Level="确认" />
  <Item ID="Q102" Text="确认要将该合同的状态更新为已确认吗?" Level="确认" />
  <Item ID="Q103" Text="确认要将该发票的状态更新为已付款吗?" Level="确认" />
  <Item ID="Q104" Text="确认要作废这个合同吗？" Level="确认" />
  <Item ID="Q105" Text="输入的销售价比采购价低，确认要继续吗？" Level="确认" />
  <Item ID="Q106" Text="发现软件更新版本，立即升级到最新版本吗？" Level="确认" />
  <Item ID="Q107" Text="确认要撤销该合同吗?" Level="确认" />
  <Item ID="Q108" Text="确认要作废这个采购单吗？" Level="确认" />
  <Item ID="Q109" Text="确认要撤销采购单吗?" Level="确认" />
  <Item ID="Q110" Text="确认要将选中的客户审核为无效客户吗?" Level="确认" />
  <Item ID="Q111" Text="确认要将选中的客户审核为有效客户吗?" Level="确认" />
  <Item ID="Q112" Text="请确认该合同PI是否已回传？" Level="确认" />
  <Item ID="Q113" Text="请确认工厂已回签该合同？" Level="确认" />
  <Item ID="Q114" Text="确认要撤销对该PI的确认吗？" Level="确认" />
  <Item ID="Q115" Text="确认要撤销对该采购单的确认吗？" Level="确认" />
  <Item ID="Q116" Text="确认要审核选中的数据吗？[{0}]" Level="确认" />
  <Item ID="Q117" Text="确认要审核选中的采购合同吗？" Level="确认" />
  <Item ID="Q118" Text="确认要撤销审核吗？" Level="确认" />
  <Item ID="Q119" Text="确认要将该订舱单置为已确认状态吗？" Level="确认" />
  <Item ID="Q120" Text="确认要撤销对该订舱单的确认吗？" Level="确认" />
  <Item ID="Q121" Text="确认要重置所选用户的密码吗？" Level="确认" />
  <Item ID="Q122" Text="确认要撤销所选外销合同的完成状态吗？" Level="确认" />
  <Item ID="Q123" Text="确认要将所选工作设置为无法完成吗？" Level="确认" />
  <Item ID="Q124" Text="确认要为所选工作设置提醒吗？" Level="确认" />
  <Item ID="Q125" Text="确认要提交所选采购合同，请求审核吗？" Level="确认" />
  <Item ID="Q126" Text="运编号“{0}”已被订单“{1}”使用，确认要与其合用一个运编号吗？" Level="确认" />  

  <!-- 警告信息 -->
  <!--Common START;W001~W100;其它自定义业务消息请从W101开始-->
  <Item ID="W001" Text="联系人电话号码格式不正确！" Level="警告" />
  <Item ID="W002" Text="电子邮件格式不正确！" Level="警告" />
  <Item ID="W003" Text="客户公司名称必须填写！" Level="警告" />
  <Item ID="W004" Text="客户公司地址必须填写！" Level="警告" />
  <Item ID="W005" Text="客户公司联系人必须填写！" Level="警告" />
  <Item ID="W006" Text="客户公司联系电话必须填写！" Level="警告" />
  <Item ID="W007" Text="员工姓名必须填写！" Level="警告" />
  <Item ID="W008" Text="员工工号必须填写！" Level="警告" />
  <Item ID="W009" Text="填写格式错误。必须为大于0的正整数！" Level="警告" />
  <Item ID="W010" Text="完工日期查询条件的开始日期晚于结束日期！" Level="警告" />
  <Item ID="W011" Text="导入日期查询条件的开始日期晚于结束日期！" Level="警告" />
  <Item ID="W012" Text="请选择客户！" Level="警告" />
  
  <Item ID="W052" Text="{0}删除后将无法恢复，确认要删除吗？" Level="警告" />

  <!-- 错误信息 -->
  <!--Common START;E001~E100;其它自定义业务消息请从E101开始-->
  <Item ID="E001" Text="{0}必须填写！" Level="错误" />
  <Item ID="E002" Text="数据更新失败！" Level="错误" />
  <Item ID="E003" Text="数据保存失败！" Level="错误" />
  <Item ID="E004" Text="存在相同的客户公司名称！" Level="错误" />
  <Item ID="E005" Text="获取{0}信息发生错误！" Level="错误" />
  <Item ID="E008" Text="用户名、密码输入错误！" Level="错误" />
  <Item ID="E009" Text="输入的密码不正确，请重新输入！" Level="错误" />
  <Item ID="E010" Text="两次输入的密码不一致，请重新填写！" Level="错误" />
  <Item ID="E011" Text="不能删除主销售渠道！" Level="错误" />
  <Item ID="E012" Text="提成比例填写格式不符合要求！" Level="错误" />
  <Item ID="E013" Text="销售渠道人员发现有重复！" Level="错误" />
  <Item ID="E014" Text="用户登录账号发现有重复！" Level="错误" />
  <Item ID="E015" Text="联系人电话号码格式不正确！" Level="错误" />
  <Item ID="E016" Text="电子邮件格式不正确！" Level="错误" />
  <Item ID="E017" Text="客户公司名称必须填写！" Level="错误" />
  <Item ID="E018" Text="客户公司地址必须填写！" Level="错误" />
  <Item ID="E019" Text="客户公司联系人必须填写！" Level="错误" />
  <Item ID="E020" Text="客户公司联系电话必须填写！" Level="错误" />
  <Item ID="E021" Text="填写格式错误！" Level="错误" />
  <Item ID="E022" Text="时间起始日期晚于截止时间！" Level="错误" />
  <Item ID="E023" Text="请选择主销售渠道！" Level="错误" />
  <Item ID="E024" Text="金额填写错误！" Level="错误" />
  <Item ID="E025" Text="金额填写不能小于等于0！" Level="错误" />
  <Item ID="E026" Text="第{0}行渠道为主销售人员，不能重复输入！" Level="错误" />
  <Item ID="E027" Text="请选择付款方式！" Level="错误" />
  <Item ID="E028" Text="税率填写不正确！" Level="错误" />
  <Item ID="E029" Text="结算比率填写不正确！" Level="错误" />
  <Item ID="E030" Text="请选择渠道信息！" Level="错误" />
  <Item ID="E031" Text="提成启用时间早于最近的截止时间！" Level="错误" />
  <Item ID="E032" Text="主销售渠道与普通提成渠道发生重复！" Level="错误" />
  <Item ID="E033" Text="密码不能为空！" Level="错误" />
  <Item ID="E034" Text="无法连接服务器，请重确认新连接后再执行操作！" Level="错误" />
  <Item ID="E035" Text="电路代码不能为空！" Level="错误" />
  <Item ID="E036" Text="未获取到任何信息，请确认服务器是否连接！" Level="错误" />
  <Item ID="E037" Text="联系人电话号码格式不正确！" Level="错误" />
  <Item ID="E038" Text="账单起始行数设置错误！" Level="错误" />
  <Item ID="E039" Text="未读取到账单任何信息！" Level="错误" />
  <Item ID="E040" Text="账单输入格式不符合要求，请重新确认！" Level="错误" />
  <Item ID="E041" Text="现有密码与新密码相同！" Level="错误" />
  <Item ID="E042" Text="字符长度大于50个！" Level="错误" />
  <Item ID="E043" Text="请选择{0}！" Level="错误" />
  <Item ID="E044" Text="起始年份大于结束年份！" Level="错误" />
  <Item ID="E045" Text="同年度起始月份大于结束月份！" Level="错误" />
  <Item ID="E046" Text="业务名称发生重复！" Level="错误" />
  <Item ID="E047" Text="业务名称必须填写！" Level="错误" />
  <Item ID="E048" Text="结算比例格式不正确！" Level="错误" />
  <Item ID="E049" Text="{0}业务类型未设置！" Level="错误" />
  <Item ID="E050" Text="存在相同编号的电路！" Level="错误" />
  <Item ID="E051" Text="原录入人员与新录入人员相同！" Level="错误" />
  <Item ID="E052" Text="请将{0}客户下的电路全部移除后才能删除该客户！" Level="错误" />
  <Item ID="E054" Text="电路合同时间不能跳跃，原合同结束时间为{0}" Level="错误" />
  <!--Common END-->
  <Item ID="E101" Text="登录失败，密码不正确！" Level="错误" />


  <Item ID="E998" Text="连接数据库失败！
详细信息：{0}" Level="错误" />
  <Item ID="E999" Text="发生系统错误，请与管理员联系！
详细信息：{0}" Level="错误" />

</Message>